<div class="container">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h1><%= @user.username %>'s page</h1>
		</div>
		<div class="panel-body">
			<p><strong>Member since:</strong> <%= @user.created_at %></p>
			<p><%= link_to "See all products from this seller", user_products_path %></p>
			<p><%= link_to "Show Reviews", 	user_reviews_path(params[:id]) %></p>
		</div>
	</div>
</div>