<p><%= @user.username %>'s page</p>
<p>Member since: <%= @user.created_at %></p>
<p>Featured items for sale!</p>
<p>Comment: Display 10 recent items, and provide a link to view all</p>
<p>Reviews</p>
<p>Comment: Show 10 recent reviews, and provide a link to view all</p>
