<div class="container">
<form class="form-inline">
  <div class="form-group">
    <input placeholder="Search products" class="form-control">
    <button class="btn btn-primary">Search</button>
  </div>
</form>
<h1>Recently Listed:</h1>
<% @products.each do |product| %>
  <div class="box panel panel-info">
    <%= image_tag product.image.url (:medium), class: "product_image" %>
    <div class="panel-body">
      <p><%= link_to product.name, product %></p>
      <p>Current Bid: $<%= product.starting_bid %></p>
      <p>Buy it Now: $<%= product.buy_now_price %></p>
    </div>
  </div>
<% end %>
<h1>Featured Electronics:</h1>
<h1>Featured Furniture:</h1>
<h1>More Categories</h1>
</div>
